.btn {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #50e3c2;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 99px;
  border: none;
  color: #2f3237;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background-color: #7bead2;
}
.btn:active {
  background-color: #20c5a2;
}
