.container {
  padding: 0 2rem;
}

@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    width: 1280px;
  }
}
