/**
 * @TODO - improve media queries
 * @TODO - PSD uses pt units for font sizes. 
 * Do more research into pt vs px
 */

@import './reset.css';

html {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #2f3237;
}
p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}
h1 {
  font-size: 4.875rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

.sy1 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
@media (320px <= width <= 500px) {
  html {
    font-size: 8px;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 8px;
  }
  p {
    font-size: 1.5rem;
  }
  h1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 3840px) {
  html {
    font-size: 22px;
  }
}
