.callouts {
  background-color: #f2f1ef;
  color: #2f3237;
  padding: 34px 0;
  text-align: center;
}
.steps {
  display: flex;
  justify-content: space-between;
}
.step {
  width: 25%;
  padding: 0 8px;
}
.stepH1 {
  font-weight: 500;
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px #51e3c2 solid;
}
.stepH2 {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #2f3237;
}
.stepBody {
  max-width: 265px;
  margin: auto;
}
.stepLead {
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
@media (320px <= width <= 1024px) {
  .stepBody {
    max-width: 220px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .steps {
    display: flex;
    flex-wrap: wrap;
  }
  .step {
    margin-bottom: 28px;
    box-sizing: border-box;
    width: 50%;
    padding: 0 8px;
  }
}
@media (min-width: 2160px) {
  .stepBody {
    max-width: 445px;
  }
}
